<!-- @author Philipp R. Thomas --->
<!-- @editedBy Robin Steinwarz --->
<mat-toolbar class="toolbar-primary">
  <button class="sidebar-toggle-button btn btn-icon" (click)="sidenav.toggle()">
    <fa-icon class="fa-fw" [icon]="faBars"></fa-icon>
  </button>
  <div class="toolbar-title">YAWL Web Frontend</div>
  <div class="toolbar-right">
    <button class="logout-button" (click)="onLogoutButton()">
      <fa-icon class="fa-fw" [icon]="faArrowRightFromBracket"></fa-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<sidebar-layout>
  <sidebar #sidenav>
    <div class="sidebar-header">
      YAWL Dashboard
    </div>
    <ul class="main-menu">
      <li *ngIf="withDashboardService">
        <a routerLink="/#/dashboard/" routerLinkActive="active">
          <fa-icon [fixedWidth]="true" [icon]="faGaugeHigh"></fa-icon>
          Dashboard</a>
      </li>
    </ul>
  </sidebar>

  <div class="app-content" [class.with-sidebar]="sidenav.opened">
    <ng-content></ng-content>
  </div>
</sidebar-layout>
