<!-- @author Philipp R. Thomas --->
<!-- @editedBy Robin Steinwarz --->
<mat-toolbar class="toolbar-primary">
  <button class="sidebar-toggle-button btn btn-icon" (click)="sidenav.toggle()">
    <fa-icon class="fa-fw" [icon]="faBars"></fa-icon>
  </button>
  <div class="toolbar-title">
    YAWL Dashboard
  </div>
  <div class="toolbar-right" >
    <button class="logout-button" (click)="onLogoutButton()">
      <fa-icon class="fa-fw" [icon]="faArrowRightFromBracket" style="font-size: 17px; color: rgba(255,255,255,0.9)"></fa-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<sidebar-layout>
  <sidebar #sidenav>
    <div class="sidebar-header">
      <fa-icon [fixedWidth]="true" [icon]="faChartLine" style="color: rgba(255,255,255,0.9)"></fa-icon>
    </div>
    <ul class="main-menu">
      <li *ngIf="withDashboardService">
        <a routerLink="/" routerLinkActive="active" style=" padding: 0.5em 1em;">
          <fa-icon [fixedWidth]="true" [icon]="faGaugeHigh"></fa-icon>
        </a>
      </li>
    </ul>
  </sidebar>

  <div class="app-content" [class.with-sidebar]="sidenav.opened">
    <ng-content></ng-content>
  </div>
</sidebar-layout>
