<!-- @author Philipp R. Thomas --->
<!-- @editedBy Robin Steinwarz --->
<mat-toolbar class="toolbar-primary">
  <button class="sidebar-toggle-button btn btn-icon" (click)="sidenav.toggle()">
    <fa-icon class="fa-fw" icon="bars"></fa-icon>
  </button>
  <div class="toolbar-title">
    YAWL Dashboard
  </div>
  <div class="toolbar-right">
    <button mat-button class="logout-button" (click)="onLogoutButton()">
      {{getUsername()}},
      <fa-icon class="fa-fw" icon="arrow-right-from-bracket"
               style="font-size: 13px; color: rgba(255,255,255,0.9)"></fa-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<sidebar-layout>
  <sidebar #sidenav>
    <div class="sidebar-header">
      <fa-icon [fixedWidth]="true" icon="chart-line" style="font-size:15px; color: rgba(255,255,255,0.9)"></fa-icon>
    </div>
    <ul class="main-menu">
      <li *ngIf="withDashboardService">
        <a routerLink="/" routerLinkActive="active" style=" padding: 0.5em 13px;">
          <fa-icon [fixedWidth]="true" icon="gauge-high" matTooltip="Go to the home page."></fa-icon>
        </a>
      </li>
    </ul>
  </sidebar>

  <div class="app-content" [class.with-sidebar]="sidenav.opened">
    <ng-content></ng-content>
  </div>
</sidebar-layout>
