<!-- @author Robin Steinwarz--->
<div class="statistic-filter">
  <mat-form-field>
    <mat-label>Heat map selection</mat-label>
    <mat-select (selectionChange)="updateData()" [formControl]="statisticSelection">
      <mat-option [value]="'avgCompletionTime'">Avg. resource time</mat-option>
      <mat-option [value]="'avgQueueTime'">Avg. queue time</mat-option>
      <mat-option [value]="'avgTimeToReach'">Avg. time to reach task</mat-option>
      <mat-option [value]="'avgInstancesPerCase'">Avg. task instances per case</mat-option>
      <mat-option [value]="'cost'">Avg. cost of task</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-grid-list *ngIf="loaded && specificationDataContainer !== undefined" cols="5" rowHeight="2:1"
               [gutterSize]="'8px'">
  <mat-grid-tile colspan="5">
    <div class="statistic-container">
      <div class="statistic-title">
        <div class="statistic-title-text">Heat Map</div>
        <div class="statistic-title-info">
          <span style="margin-right: 15px">Legend</span>
          <span style="font-size: 7px">min</span> 0
          <fa-icon [style.color]="'rgb(255, 247, 223)'" [fixedWidth]="true" icon="square"
                   matTooltip="This color indicates a task with a corresponding small value."></fa-icon>
          <fa-icon [fixedWidth]="true" icon="arrow-right"></fa-icon>
          <fa-icon [style.color]="'rgb(255, 79, 0)'" [fixedWidth]="true" icon="square"
                   matTooltip="This color indicates a task with a corresponding big value."></fa-icon>
          <span style="font-size: 7px">max</span>
          {{ (this.statisticSelection.getRawValue() === 'avgInstancesPerCase' || this.statisticSelection.getRawValue() === 'cost')? this.formatUtils.applyFixedDecimalNumbers(max): this.formatUtils.applyPastTimeFormatForTimestampWithDays(this.max)}}

          <fa-icon id="heatmapInfo" [fixedWidth]="true" icon="circle-info"
                   matTooltip="This heatmap illustrates the differences between several selectable properties of our
                   tasks. Each square represents a task. They are ordered by their possible first occurrence in the process.
                   The further to the left a task is in the heatmap, the earlier it can occur in the process.
                   Tasks stacked vertically mean that they can occur at the same time in the process."></fa-icon>
        </div>
      </div>
      <div class="statistic-body ngx-charts-extra-small-text">
        <div class="statistic-graph">
          <ngx-charts-heat-map
            [animations]="false"
            [scheme]="'solar'"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [xAxis]="true"
            [yAxis]="false"
            [xAxisLabel]="''"
            [yAxisLabel]="''"
            [tooltipText]="heatMapTooltipText"
            [results]="heatMapData"
          >
          </ngx-charts-heat-map>
        </div>
        <div class="statistic-label"></div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
