<div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
	<div>
		Days:
		<input type="number" min="0" max="999" [(ngModel)]="days" (ngModelChange)="onInputDays($event)"/>
	</div>

	<div>
		Hours:
		<input type="number" min="0" max="23" [(ngModel)]="hours" (ngModelChange)="onInputHours($event)"/>
	</div>

	<div>
		Mins:
		<input type="number" min="0" max="59" [(ngModel)]="mins" (ngModelChange)="onInputMins($event)"/>
	</div>

	<div>
		Secs:
		<input type="number" min="0" max="59" [(ngModel)]="secs" (ngModelChange)="onInputSecs($event)"/>
	</div>
</div>
