
<div class="row">
    <mat-chip-list>
        <mat-chip *ngFor="let item of specificationsWrapper" >
            {{item.displayName}}
            <a (click)="remove(item.id)" class="close">
                <span class="fa fa-remove"></span>
            </a>
        </mat-chip>
    </mat-chip-list>

	<div class="yd-select-and-add">
        <mat-form-field class="yd-input-full-width">
            <mat-select [(ngModel)]="selectedSpecification" name="selectedSpecification">
                <mat-option *ngFor="let item of getPossibleSpecifications()" [value]="item">{{item.uri}} {{item.version}}</mat-option>
            </mat-select>
        </mat-form-field>

		<button mat-raised-button color="accent" (click)="addSpecification()" [disabled]="!selectedSpecification">
			<span class="fa fa-plus"></span>
		</button>
	</div>
</div>
