<mat-form-field style="width:80px !important">
  <mat-label>hours</mat-label>
  <mat-select [(value)]="hours" (selectionChange)="change()">
    <mat-option *ngFor="let number of hourNumbers" [value]="number">{{number}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="width:80px !important">
  <mat-label>minutes</mat-label>
  <mat-select [(value)]="minutes" (selectionChange)="change()">
    <mat-option *ngFor="let number of minuteNumbers" [value]="number">{{number}}</mat-option>
  </mat-select>
</mat-form-field>

