
<div class="section">
	<h2>Columns</h2>

	<div class="row">
		<p>Visible columns</p>

        <mat-checkbox [(ngModel)]="settings.showColumnUsername">Participant's Username</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnName">Participant's Name</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnNumberOffered">&#35; Offered Work Items</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnNumberAccepted">&#35; Accepted Work Items</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnNumberStarted">&#35; Started Work Items</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnNumberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnIdleTimeAccepted">Idle Time Accepted</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnIdleTimeStarted">Idle Time Started</mat-checkbox>

        <mat-checkbox [(ngModel)]="settings.showColumnSumIdleTime">Sum Idle Time</mat-checkbox>

	</div>

	<div class="row">
        <mat-form-field class="yd-input-full-width">
            <mat-select placeholder="Format of the participant's name" [(ngModel)]="settings.sortName" name="sortName" required>
                <mat-option value="firstname">Firstname Lastname</mat-option>
                <mat-option value="lastname">Lastname, Firstname</mat-option>
            </mat-select>
        </mat-form-field>
	</div>
</div>

<div class="section">
	<h2>Sorting</h2>

	<div class="row">
        <mat-form-field class="yd-input-full-width">
            <mat-select class="yd-input-full-width" placeholder="Sort column" [(ngModel)]="settings.sortColumn" name="sortColumn" required>
                <mat-option value="username">Participant's Username</mat-option>
                <mat-option value="lastname">Participant's Lastname</mat-option>
                <mat-option value="firstname">Participant's Firstname</mat-option>
                <mat-option value="numberOffered">&#35; Offered Work Items</mat-option>
                <mat-option value="numberAccepted">&#35; Accepted Work Items</mat-option>
                <mat-option value="numberStarted">&#35; Started Work Items</mat-option>
                <mat-option value="numberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</mat-option>
                <mat-option value="idleTimeAccepted">Idle Time Accepted</mat-option>
                <mat-option value="idleTimeStarted">Idle Time Started</mat-option>
                <mat-option value="sumIdleTime">Sum Idle Time</mat-option>
            </mat-select>
        </mat-form-field>
	</div>

	<div class="row">
        <mat-form-field class="yd-input-full-width">
            <mat-select placeholder="Sort mode" [(ngModel)]="settings.sortColumnDirection" name="sortColumnDirection" required>
                <mat-option value="ASC">Ascending</mat-option>
                <mat-option value="DESC">Descending</mat-option>
            </mat-select>
        </mat-form-field>
	</div>
</div>

<div class="section">
	<h2>Selection Participants</h2>

	<div class="row">
		<mat-checkbox [(ngModel)]="settings.customSelection">Custom selection</mat-checkbox>
	</div>

	<div [hidden]="!settings.customSelection">
		<div class="row">
			<label>Selection</label>
			<participants-selection [(participants)]="settings.customSelectionParticipants"></participants-selection>
		</div>
	</div>

	<div class="row">
        <mat-checkbox [(ngModel)]="settings.autoSelection">Automatic selection</mat-checkbox>
	</div>

	<div [hidden]="!settings.autoSelection">

		<div class="row">
            <mat-form-field class="yd-input-full-width" floatPlaceholder="always">
                <input matInput
                        placeholder="Number of selected participants"
                        name="autoSelectionNumber"
                        type="number"
                        [(ngModel)]="settings.autoSelectionNumber"
                        required>
            </mat-form-field>
		</div>

		<div class="row">
            <mat-form-field class="yd-input-full-width">
                <mat-select placeholder="Auto selection mode" [(ngModel)]="settings.autoSelectionMode" name="autoSelectionMode" required>
                    <mat-option value="max">Maximum Value</mat-option>
                    <mat-option value="min">Minimum Value</mat-option>
                    <mat-option value="random">Random</mat-option>
                </mat-select>
            </mat-form-field>
		</div>

		<div class="row" [hidden]="settings.autoSelectionMode != 'max' && settings.autoSelectionMode != 'min'">
            <mat-form-field class="yd-input-full-width">
                <mat-select placeholder="Auto selection sort column" [(ngModel)]="settings.autoSelectionSortColumn" name="autoSelectionSortColumn" required>
                    <mat-option value="numberOffered">&#35; Offered Work Items</mat-option>
                    <mat-option value="numberAccepted">&#35; Accepted Work Items</mat-option>
                    <mat-option value="numberStarted">&#35; Started Work Items</mat-option>
                    <mat-option value="numberAcceptedAndStarted">&#35; Accepted &and; Started Work Items</mat-option>
                    <mat-option value="idleTimeAccepted">Idle Time Accepted</mat-option>
                    <mat-option value="idleTimeStarted">Idle Time Started</mat-option>
                    <mat-option value="sumIdleTime">Sum Idle Time</mat-option>
                </mat-select>
            </mat-form-field>
		</div>

		<div class="row">
			<label>Exceptions/Blacklist</label>
			<participants-selection [(participants)]="settings.autoSelectionBlacklist"></participants-selection>
		</div>
	</div>
</div>
