

<div *ngIf="mode == 'edit' || mode == 'layoutchange'" class="row">
	<div class="col l12" style="padding: 0 10px">
		<button (click)="mode = 'show'" mat-raised-button color="accent">
      Close
		</button>
	</div>
</div>

<div *ngIf="mode == 'new'" class="row">
	<div class="col l12" style="padding: 0 10px">
		<button (click)="mode = 'edit'" mat-raised-button color="accent">
			Cancel
		</button>
	</div>
</div>

<div *ngIf="mode == 'layoutchange'" class="row">
	<div class="col l12" style="padding: 0 10px">
		<div class="card">
			<div class="card-header gray">
				<h2>Change columns</h2>
			</div>
			<div class="card-content">
				<layout-selection (onChange)="onLayoutChange($event)"></layout-selection>
			</div>
		</div>
	</div>
</div>

<div *ngIf="mode == 'new'" class="row">
	<div class="col l12" style="padding: 0 10px">
		<dashlet-add-panel [dashboard]="dashboardId" (added)="onDashletAdded($event)"></dashlet-add-panel>
	</div>
</div>

<div *ngIf="mode == 'edit'" class="row">
	<div class="col l12" style="padding: 0 10px">
		<div>Now you can drag the dashlets to other places.</div>
	</div>
</div>

<div *ngIf="mode == 'show' || mode == 'edit'" class="row" [class.editable]="mode == 'edit'">

	<div *ngFor="let column of columns; let columnIndex=index" class="col s12 m12 l{{column.size}}" style="padding: 0 10px">

		<div *ngIf="mode == 'edit' && !dragging"
			 class="dashlet-add-zone"
			 (click)="startAddMode(columnIndex, '')">
			<div [hidden]="dragging"><span class="fa fa-plus"></span></div>
		</div>

		<div *ngIf="dragging"
			 class="dropzone"
			 droppable
			 (dropped)="moveDashletToHead($event, columnIndex)">
			Place here
		</div>

		<div *ngFor="let item of column.dashlets" [class.wiggle]="mode == 'edit'" style="position: relative;">
            <div [class.wiggleelement]="mode == 'edit'"
                class="card"
                [draggable]="item"
                (dragstart)="startDashletDragging()"
                (dragend)="endDashletDragging()"
                #theCard>
                <div class="card-header gray">
                    <h2 *ngIf="mode != 'edit'">{{item.title}}&nbsp;</h2>
                    <div *ngIf="mode == 'edit'">
                        <mat-form-field>
                            <input matInput [ngModel]="item.title" type="text" (ngModelChange)="renameDashlet(item, $event)"/>
                        </mat-form-field>
                    </div>
                    <ul class="card-header-actions">
                        <li *ngIf="mode != 'edit'">
                            <button (click)="dashlet.reload()" [disabled]="dashlet.isLoading()">
                              <fa-icon [fixedWidth]="true"  [spin]="dashlet.isLoading()" [icon]="faRotate"></fa-icon>
                            </button>
                        </li>
                        <li *ngIf="mode == 'edit'">
                            <button (click)="gotoDashletSettings(item)">
                              <fa-icon [fixedWidth]="true" [icon]="faGear"></fa-icon>
                            </button>
                        </li>
                        <li *ngIf="mode == 'edit'">
                            <button (click)="removeDashlet(item)">
                              <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <dashlet-panel #dashlet [dashlet-id]="item.id" [dashlet-type]="item.type">
                    </dashlet-panel>
                </div>
            </div>

            <div *ngIf="mode == 'edit' && !dragging"
                class="dashlet-add-zone"
                (click)="startAddMode(columnIndex, item.id)">
                <div [hidden]="dragging"><span class="fa fa-plus"></span></div>
            </div>

            <div *ngIf="dragging"
                class="dropzone"
                droppable
                (dropped)="moveDashletAfter($event, item)">
                Place here
            </div>
        </div>
	</div>
</div>

