
<default-page>

	<div class="page-header">
		<h1>Manage Dashboards</h1>
		<ul class="page-header-actions">
		</ul>
	</div>

	<div *ngIf="showNewDashboardForm" class="row">
		<button matTooltip="Create Dashboard" mat-raised-button color="accent" type="button" (click)="openDashboardFormForNew()">
      <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
		</button>
	</div>

	<div *ngIf="showDashboardForm" class="row">
		<mat-card class="card dashlet-add-panel">
      <mat-card-header>
        <mat-card-title *ngIf="dashboard.id == null">New dashboard</mat-card-title>
        <mat-card-title *ngIf="dashboard.id != null">Edit dashboard</mat-card-title>
      </mat-card-header>
			<mat-card-content>
				<form (ngSubmit)="saveNewDashboard()" #newDashboardForm="ngForm" class="yd-form">
                    <div class="row">
                      <mat-form-field appearance="standard" class="yd-input-full-width">
                        <input matInput placeholder="Title"
                               name="newDashboardName"
                               minlength="3"
                               maxlength="50"
                               [(ngModel)]="dashboard.title"
                               required>
                      </mat-form-field>
                    </div>
          <mat-card-actions align="end">
            <button mat-button (click)="closeDashboardForm()">Cancel</button>
            <button mat-raised-button color="accent" type="submit" [disabled]="!newDashboardForm.form.valid">
              Save
            </button>
          </mat-card-actions>
				</form>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="row">
		<div class="card">
			<div class="card-body">
				<div *ngFor="let item of dashboards" class="dashlet-list-element">
					<div class="dashlet-list-title">{{item.title}}</div>
					<ul class="dashlet-list-actions">
						<li>
							<button matTooltip="View" (click)="gotoDashboard(item)">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
							</button>
						</li>
						<li>
							<button matTooltip="Edit" (click)="editDashboard(item)">
                <fa-icon [fixedWidth]="true" [icon]="faPencil"></fa-icon>
							</button>
						</li>
						<li>
							<button matTooltip="Position higher" (click)="moveUp(item)" [disabled]="item.orderNo == 1">
                <fa-icon [fixedWidth]="true" [icon]="faArrowUp"></fa-icon>
							</button>
						</li>
						<li>
							<button matTooltip="Position lower" (click)="moveDown(item)" [disabled]="item.orderNo == getMaxOrderNo()">
                <fa-icon [fixedWidth]="true" [icon]="faArrowDown"></fa-icon>
							</button>
						</li>
						<li>
							<button matTooltip="Delete" (click)="removeDashboard(item)">
                <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</default-page>
