/* @author Robin Steinwarz */
table {
  width: 100%;
}

.mat-mdc-form-field{
  margin-top: 5em;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.statistics {
  width: 100%;
  margin-top: 20px;
}

.grid-form {
  width: 98%;
}

.mat-radio-button {
  margin-left: 10px;
}
