/* @author Robin Steinwarz */
table {
  width: 100%;
  margin-top: 5em;
}

.spacer {
  flex: 1 1 auto;
}

span {
  font-size: 15px;
  font-weight: normal;
  font-family: Roboto, Helvetica, sans-serif;
  color: #5e5e5e;
}

a {
  text-decoration: none;
}

mat-toolbar {
  height: 40px;
}

.statistics {
  width: 100%;
  margin-top: 20px;
}

.grid-form {
  width: 98%;
}

.mat-radio-button {
  margin-left: 10px;
}
