<!-- @author Robin Steinwarz--->

<default-page>
  <div>
    <p>
      <a href="/#/dashboard">
        <mat-toolbar>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <fa-icon [fixedWidth]="true" [icon]="faArrowLeftLong"></fa-icon>
          </button>
          <span>Back</span>
          <span class="spacer"></span>
          <span [innerHTML]="specificationDataContainer?.specificationStatistic?.uri"></span>,
          <span style="margin-left: .5em;"
                [innerHTML]="specificationDataContainer?.specificationStatistic?.version"></span>
        </mat-toolbar>
      </a>
    </p>

    <section class="example-section">
      <mat-radio-group [(ngModel)]="viewType">
        <mat-radio-button value="0">
          Cases
        </mat-radio-button>
        <mat-radio-button value="1">
          Tasks
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </div>

  <div *ngIf="specificationDataContainer?.specificationStatistic! != undefined" [hidden]="!isCaseView()">
    <app-case-statistic-view [specificationDataContainer]="specificationDataContainer"></app-case-statistic-view>
    <p style="margin-top:2em">
      <span style="font-size: 30px">Cases</span>
      <a style="float:right" mat-raised-button (click)="openWorkitemQueueDialog()" target="_blank">Work item queue</a>
      <span style="display: block; white-space: nowrap; float:right; margin-top: -24px; margin-right: 1em">
        <mat-label
          style="color: rgba(0, 0, 0, 0.38); font-size: 8px; font-weight: 600; font-family: Roboto, 'Helvetica Neue', sans-serif">
          Max case time
        </mat-label><br>
        <app-timestampform [(timestamp)]="specificationTimeLimit" [daySelectionActive]="true"
                           (timestampChanged)="changedSpecificationAttributes()"></app-timestampform>
      </span>
    </p>
    <table mat-table [dataSource]="dataSource" matSort
           matSortActive="caseid" matSortDirection="asc"
           (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">

      <!-- Case ID Column -->
      <ng-container matColumnDef="caseid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by caseId">
          Case ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.caseid}} </td>
      </ng-container>

      <!-- Initiated-->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by specification initiated">
          Initiated
        </th>
        <td mat-cell *matCellDef="let element">{{formatUtils.applyDatetimeFormat(element.start)}}</td>
      </ng-container>

      <!-- Completed Column -->
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by completed">
          Completed
        </th>
        <td mat-cell *matCellDef="let element">{{formatUtils.applyDatetimeFormat(element.end)}}</td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">
          Age
        </th>
        <td mat-cell *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestamp(element.age)}}</td>
      </ng-container>

      <!-- Running Cases Column -->
      <ng-container matColumnDef="running">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by running workitems">
          Running Workitems
        </th>
        <td mat-cell *matCellDef="let element">{{element.runningWorkitemsCount}}</td>
      </ng-container>

      <!-- Queued workitems Column -->
      <ng-container matColumnDef="queue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by queued workitems">
          Queued Workitems
        </th>
        <td mat-cell *matCellDef="let element">{{element.queuedWorkitemsCount}}</td>
      </ng-container>

      <!-- Overdue Column -->
      <ng-container matColumnDef="overdue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by overdued case">
          Overdue
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="specificationDataContainer?.extensionSpecification! !== undefined">
            {{formatUtils.applyIsOverdueFormat(element.age, +specificationDataContainer?.extensionSpecification?.specificationTimeLimit!)}}
          </span>
        </td>
      </ng-container>

      <!-- Cancelled Column -->
      <ng-container matColumnDef="cancelled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cancelled case">
          Cancelled
        </th>
        <td mat-cell *matCellDef="let element">
          {{formatUtils.applyBooleanFormat(element.cancelled)}}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:" (click)="openWorkitemsDialog(element.caseid)">
            <fa-icon [fixedWidth]="true" [icon]="faArrowsToEye"></fa-icon>
          </a>
          <a [href]="casesURL" target="_blank">
            <fa-icon [fixedWidth]="true" [icon]="faPencil"></fa-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; color: #5e5e5e">
          Empty table
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="specificationDataContainer !== undefined" [hidden]="!isTaskView()">
    <app-task-view [specificationDataContainer]="specificationDataContainer"></app-task-view>
  </div>

  <div class="bottom-page-margin"></div>

</default-page>
