
<default-page>
	<div class="page-header">
		<h1>Show group</h1>
		<ul class="page-header-actions">
		</ul>
	</div>

	<div class="row">
		<button (click)="gotoList()" mat-raised-button color="accent">
			<span class="fa fa-arrow-left"></span> Group list
		</button>
	</div>

	<div class="container">
		<div class="card" *ngIf="orgGroup">

			<div class="resource-list">
				<div class="resource-list-element with-avatar">
					<div class="avatar">
						<span class="circle org-group">G</span>
					</div>
					<div class="modern-list-title">{{orgGroup.name}}</div>
					<div class="modern-list-description">{{orgGroup.description}}</div>
				</div>
			</div>

			<div class="divider"></div>

            <mat-tab-group class="yd-tabs-with-padding">
                <mat-tab label="Details">
                    <div class="row">
                        <div class="half-container">
                            <div class="half">
                                <div class="section">
                                    <label>Label</label>
                                    <div class="flow-text">{{orgGroup.name}}</div>
                                </div>
                                <div class="divider"></div>
                                <div class="section">
                                    <label><span class="fa fa-sticky-note"></span> Description</label>
                                    <div class="flow-text" *ngIf="orgGroup.description">{{orgGroup.description}}</div>
                                    <div class="flow-text" *ngIf="!orgGroup.description">No description</div>
                                </div>
                                <div class="divider"></div>
                                <div class="section">
                                    <label>Belongs to</label>
                                    <show-resource-panel *ngIf="belongsTo"
                                                        [item]="belongsTo"
                                                        [resourceType]="'org-group'"
                                                        [resourceTypeCycle]="'G'"></show-resource-panel>
                                    <div class="flow-text" *ngIf="!belongsTo">None</div>
                                </div>
                            </div>
                            <div class="half">
                                <div class="section">
                                    <label><span class="fa fa-commenting"></span> Notes</label>
                                    <div class="flow-text" *ngIf="orgGroup.notes">{{orgGroup.notes}}</div>
                                    <div class="flow-text" *ngIf="!orgGroup.notes">No notes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button mat-button color="primary" type="button" (click)="intendEdit()">
                            Edit <span class="fa fa-pencil"></span>
                        </button>
    
                        <button mat-button color="primary" type="button" (click)="intendRemove()">
                            Delete group <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </mat-tab>
                <mat-tab label="Child groups">
                    <org-group-childs-panel [org-group]="orgGroup"></org-group-childs-panel>
                </mat-tab>
                <mat-tab label="Positions">
                    <org-group-positions-panel [org-group]="orgGroup"></org-group-positions-panel>
                </mat-tab>
            </mat-tab-group>


		</div>
	</div>
</default-page>
