
<default-page>
	<div class="page-header">
		<h1>Show work item</h1>
		<ul class="page-header-actions">
		</ul>
	</div>

	<div class="row">
		<button (click)="gotoList()" mat-raised-button color="accent">
			<span class="fa fa-arrow-left"></span> Work Item list
		</button>
	</div>

	<div class="container">
		<div class="card" *ngIf="workItem">

            <mat-tab-group class="yd-tabs-with-padding">
                <mat-tab label="Details">
                    <div class="half-container">
                        <div class="half">
                            <div class="section">
                                <label>Work Item Identifier</label>
                                <div class="flow-text">{{workItem.id}}</div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <label>Task</label>
                                <div class="flow-text">{{workItem.task.name}}</div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <label>Case</label>
                                <div class="flow-text">{{workItem.caseId}}</div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <label>Specification</label>
                                <div class="flow-text">{{workItem.specification.uri}} {{workItem.specification.version}}</div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <label>Status</label>
                                <div class="flow-text">{{workItem.status}}</div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <label>Resource Status</label>
                                <div class="flow-text">{{workItem.resourceStatus}}</div>
                            </div>
                            <div class="divider" *ngIf="workItem.timerExpiry"></div>
                            <div class="section" *ngIf="workItem.timerExpiry">
                                <label>Timer Expiry</label>
                                <div class="flow-text">{{workItem.timerExpiry | date:'medium'}}</div>
                            </div>
                            <div class="divider" *ngIf="workItem.timerExpiry"></div>
                            <div class="section" *ngIf="workItem.timerExpiry">
                                <label>Timer Expiring Time</label>
                                <div class="flow-text">{{workItem.timerExpiry /1000 | timedifference | duration}}</div>
                            </div>
                        </div>
                        <div class="half">
                            <div class="section">
                                <label><span class="fa fa-commenting"></span> Documentation</label>
                                <button mat-button color="primary" type="button" (click)="intendEditDocumentation()" title="Edit documentation">
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <div class="flow-text" *ngIf="workItem.documentation">{{workItem.documentation}}</div>
                                <div class="flow-text" *ngIf="!workItem.documentation">No documentation</div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Assignments">
                    <div class="row">
                        <label>Resource Status:</label>
                        <div class="flow-text">{{workItem.resourceStatus}}</div>
                    </div>
    
                    <div class="row">
                        <label>Participants:</label>
                        <work-item-participants-panel [work-item]="workItem"></work-item-participants-panel>
                    </div>
    
                    <div class="row">
                        <button mat-raised-button color="primary" type="button" (click)="intendReoffer()">
                            <span class="fa fa-users"></span>
                            <span *ngIf="workItem.resourceStatus != 'Unoffered'">Reoffer</span>
                            <span *ngIf="workItem.resourceStatus == 'Unoffered'">Offer</span>
                        </button>
                        <button mat-raised-button color="primary" type="button" (click)="intendReallocate()">
                            <span class="fa fa-user"></span>
                            <span *ngIf="workItem.resourceStatus == 'Allocated' || workItem.resourceStatus == 'Started'">Reallocate</span>
                            <span *ngIf="!(workItem.resourceStatus == 'Allocated' || workItem.resourceStatus == 'Started')">Allocate</span>
                        </button>
                        <button mat-raised-button color="primary" type="button" (click)="intendRestart()">
                            <span class="fa fa-play"></span>
                            <span *ngIf="workItem.resourceStatus == 'Started'">Restart</span>
                            <span *ngIf="!(workItem.resourceStatus == 'Started')">Start</span>
                        </button>
                    </div>
                </mat-tab>
            </mat-tab-group>

		</div>
	</div>
</default-page>
