<p>
  <mat-button-toggle-group (valueChange)="selectStatistic($event)" appearance="legacy">
    <mat-button-toggle value="performance" [checked]="true">Performance</mat-button-toggle>
    <mat-button-toggle value="general">General</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="legacy">
    <mat-label>Select statistic range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input (dateChange)="updateData()" matStartDate formControlName="start" placeholder="Start date">
      <input (dateChange)="updateData()" matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint *ngIf="this.casesInRange !== 0">Cases found: {{ this.casesInRange }}</mat-hint>
    <mat-hint *ngIf="this.casesInRange === 0" style="color: darkred">Cases found: {{ this.casesInRange }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Statistic fineness</mat-label>
    <mat-select [(value)]="fineness" (valueChange)="updateData()">
      <mat-option [value]="'month'">{{ 'month' }}</mat-option>
      <mat-option [value]="'year'">{{ 'year' }}</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<div [hidden]="statisticSelection !== 'general'">
  <mat-grid-list cols="5" rowHeight="2:1"
                 [gutterSize]="'8px'">
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">How are our case starts distributed over weekdays?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows the sum of cases for this process
                     that were started in the corresponding {{fineness === 'month'? 'monthly' : 'annual'}} period.
                     In addition, the sum of case starts is distributed among the days of the week. Thus, it is possible
                     to determine when this case is usually started in the week."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="weekDayOccurrencesData.datasets"
                               [labels]="weekDayOccurrencesData.labels"
                               [options]="weekDayOccurrencesOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">What are the costs of this process?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows the actual sum of costs for cases
                     started in the corresponding {{fineness === 'month'? 'monthly' : 'annual'}} period.
                     Also, all costs for each period are divided and summarized into costs for individual task types.
                     Thus, on the one hand, it is possible to determine the costs for each period and,
                     on the other hand, it is easy to see which task type was for example particularly expensive."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="costsData.datasets"
                               [labels]="costsData.labels"
                               [options]="costsOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">When do our resources work on this process?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows sums of participants for each day of the specified time window.
                     Participants take part in the sum of a specific day
                     if they have processed at least one work item on that day.
                     Please note that the maximum time span for this chart is 4 years."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'line'"
                               [datasets]="resourceUtilizationData.datasets"
                               [labels]="resourceUtilizationData.labels"
                               [options]="resourceUtilizationOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <div class="statistic-container scrollbar">
        <div class="statistic-title">
          <div class="statistic-title-text">Who is collaborating in this process?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="These lists of roles show all resources with this corresponding role, that processed
                                 work items of this process. This is the case, when a resource started a work item
                                 of this process."></fa-icon>
          </div></div>
        <div class="ngx-charts-small-text">
          <div class="statistic-text-lists">
            <mat-expansion-panel *ngFor="let keyValue of associatedParticipants | keyvalue, let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{keyValue.key}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <span class="statistic-small-list-text" *ngFor="let participant of keyValue.value, let j = index">{{(j > 0)? ", " + participant.firstname + " " + participant.lastname : participant.firstname + " " + participant.lastname}}</span>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--- PERFORMANCE -->

<div [hidden]="statisticSelection !== 'performance'">
  <mat-grid-list cols="5" rowHeight="2:1"
                 [gutterSize]="'8px'">
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">How do our cases perform overall?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows the minimum, maximum and average runtime for all cases of this specification.
                      Cancelled and uncompleted cases excluded."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="casePerformanceData.datasets"
                               [labels]="casePerformanceData.labels"
                               [options]="casePerformanceOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">What is the usual runtime for our cases?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows the performance distribution for all cases of this specification.
                     All cases are associated with a percentage from 0 to 100% in 10% steps, where 0
                     {{casePerformanceDistributionMin}} represents the case with the shortest runtime
                     and 100% {{casePerformanceDistributionMax}} the case with the longest runtime. All other cases are
                     sorted into the sections in between."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="casePerformanceDistributionData.datasets"
                               [labels]="casePerformanceDistributionData.labels"
                               [options]="casePerformanceDistributionOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">
          <div class="statistic-title-text">How successful are our cases?</div>
          <div class="statistic-title-info">
            <fa-icon [fixedWidth]="true" icon="circle-info"
                     matTooltip="This chart shows the overall success and deadline fulfilled ratio for cases
                     that were started in the corresponding {{fineness === 'month'? 'monthly' : 'annual'}} period.
                     A successful case has not been cancelled. A case has met its deadline if its runtime is shorter
                     than the specification time limit of its process. Uncompleted cases excluded."></fa-icon>
          </div>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="overallIndicatorData.datasets"
                               [labels]="overallIndicatorData.labels"
                               [options]="overallIndicatorOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
