<!-- @author Robin Steinwarz--->
<table mat-table [dataSource]="dataSource" matSort id="table"
       matSortActive="decompositionOrder" matSortDirection="asc"
       (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Task Column -->
  <ng-container matColumnDef="taskid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="taskid" sortActionDescription="Sort by Task">
      Task
    </th>
    <td mat-cell *matCellDef="let element">{{element.taskid}}</td>
  </ng-container>

  <!-- Decomposition order Column -->
  <ng-container matColumnDef="decompositionOrder">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="decompositionOrder"
        sortActionDescription="Sort by decomposition order">
      First occurrence in process
    </th>
    <td mat-cell *matCellDef="let element">{{element.decompositionOrder}}</td>
  </ng-container>

  <!-- Avg. queue time Column -->
  <ng-container matColumnDef="avgQueueTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="avgQueueTime"
        sortActionDescription="Sort by avg. queue time">
      Avg. queue Time
    </th>
    <td mat-cell *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestamp(element.avgQueueTime)}}</td>
  </ng-container>

  <!-- Avg. completion time Column -->
  <ng-container matColumnDef="avgCompletionTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="avgCompletionTime"
        sortActionDescription="Sort by avg. completion time">
      Avg. completion Time
    </th>
    <td mat-cell
        *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestamp(element.avgCompletionTime)}}</td>
  </ng-container>

  <!-- Avg. time to reach -->
  <ng-container matColumnDef="avgTimeToReach">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="avgTimeToReach"
        sortActionDescription="Sort by avg time to reach">
      Avg. time to reach
    </th>
    <td mat-cell *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestamp(element.avgTimeToReach)}}</td>
  </ng-container>

  <!-- Avg. occurrences/week Column -->
  <ng-container matColumnDef="avgOccurrencesPerWeek">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="avgOccurrencesPerWeek"
        sortActionDescription="Sort by avg. occurrences per week">
      Avg. occurrences per week
    </th>
    <td mat-cell *matCellDef="let element">
      <div style="display:flex; font-size:13px;">
        <div class="occurence-box">
          <div>M</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[0]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>T</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[1]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>W</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[2]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>T</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[3]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>F</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[4]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>S</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[5]}}
          </div>
        </div>
        <div class="occurence-box">
          <div>S</div>
          <div style="float: left">
            {{element.avgOccurrencesPerWeek[6]}}
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <!-- Avg. cost per resource/h Column -->
  <ng-container matColumnDef="costResourceHour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="costResourceHour"
        sortActionDescription="Sort by average cost per resource hour">
      Avg. cost per hour
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="grid-form" appearance="legacy" disabled [style.width.px]=50>
        <input matInput [(ngModel)]="element.costResourceHour">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Task time limit Column -->
  <ng-container matColumnDef="maxTaskAge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="maxTaskAge" sortActionDescription="Sort by task time limit">
      Task time limit
    </th>
    <td mat-cell *matCellDef="let element">
      <app-timestampform [daySelectionActive]="true" [(timestamp)]="element.maxTaskAge"></app-timestampform>
    </td>
  </ng-container>

  <!-- Task queue time Column -->
  <ng-container matColumnDef="maxQueueAge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="maxQueueAge"
        sortActionDescription="Sort by task queue time limit">
      Task queue time limit
    </th>
    <td mat-cell *matCellDef="let element">
      <app-timestampform [daySelectionActive]="true" [(timestamp)]="element.maxQueueAge"></app-timestampform>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Actions
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="saveLimits(element)">save</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; color: #5e5e5e">
      Empty table
    </td>
  </tr>
</table>

<div class="bottom-page-margin"></div>
