/* @author Robin Steinwarz */
table {
  width: 100%;
  margin-top: 5em;
}

mat-form-field{
  padding: 0;
}

.mat-cell {
  height: 130px;
}

.mat-column-taskid{
  line-break: anywhere;
}

.occurence-box{
  margin-right: 3px;
}
