/* @author Robin Steinwarz */
table {
  width: 100%;
  margin-top: 5em;
}

mat-form-field{
  padding: 0;
}

.mat-cell {
  padding-top: .5em;
}

.mat-column-taskid{
  line-break: anywhere;
}

.occurence-box{
  margin-right: 3px;
}

fa-icon .ng-fa-icon .info{
  float: right;
  font-size: 10px;
  color: #829dc1;
}
