
<table mat-table [dataSource]="dataSource" matSort
       (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Task Column -->
  <ng-container matColumnDef="taskId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by task">
      Task
    </th>
    <td mat-cell *matCellDef="let element"> {{element.taskId}} </td>
  </ng-container>

  <!-- Avg. completion time Column-->
  <ng-container matColumnDef="avgCompletionTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by avgCompletionTime">
      Avg. completion Time
    </th>
    <td mat-cell *matCellDef="let element"> </td>
  </ng-container>

  <!-- Avg. occurrences/week Column -->
  <ng-container matColumnDef="avgOccurrencesPerWeek">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by avg. occurrences per week">
      Avg. occurrences/week
    </th>
    <td mat-cell *matCellDef="let element"> </td>
  </ng-container>

  <!-- Avg. cost per resource/h Column -->
  <ng-container matColumnDef="costResourceHour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by average cost per resource hour">
      Avg. cost per resource/h
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="grid-form" appearance="outline" disabled>
        <input matInput [(ngModel)]="element.costResourceHour">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Task time limit Column -->
  <ng-container matColumnDef="maxTaskAge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by task time limit">
      Task time limit
    </th>
    <td mat-cell *matCellDef="let element">
      <app-timestampform [(timestamp)]="element.maxTaskAge"></app-timestampform>
    </td>
  </ng-container>

  <!-- Task queue time Column -->
  <ng-container matColumnDef="maxQueueAge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by task queue time limit">
      Task queue time limit
    </th>
    <td mat-cell *matCellDef="let element">
      <app-timestampform [(timestamp)]="element.maxQueueAge"></app-timestampform>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Actions
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="saveLimits(element)">save</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
