<div class="resource-list with-border">
	<div *ngFor="let item of sortedItems"
		 class="resource-list-element with-avatar"
		 [class.selectable]="selectable"
		 [class.selected]="selectedItem && item.id == selectedItem.id"
		 (click)="onSelect(item)">
		<div class="avatar">
			<span class="circle user"><span class="fa fa-user"></span></span>
		</div>
		<div class="modern-list-title">{{item.lastname}}, {{item.firstname}}</div>
		<div class="modern-list-subtitle">{{item.username}}</div>
		<div class="modern-list-description">{{item.description}}</div>
		<ul class="modern-list-actions">
			<li *ngIf="showDetailsLink">
				<button (click)="gotoDetailsPage(item)">
					<span class="fa fa-eye"></span>
				</button>
			</li>
			<li *ngIf="showRemoveButton">
				<button (click)="onRemoveButton.emit(item)">
					<span class="fa fa-times"></span>
				</button>
			</li>
		</ul>
	</div>
	<div class="resource-list-empty" *ngIf="sortedItems.length == 0">
		<span class="fa fa-circle"></span> {{noItemsMessage}}
	</div>
</div>
