/* *********************
 * Notifier
 * ********************/


.notifier__container * {
  box-sizing: border-box;
}
.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.notifier__notification {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 13px;
}
.notifier_notification--material .notifier_notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 20px;
  font-size: 12px;
}
.notifier_notification--material .notifier_notification-button {
  display: inline-block;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}
.notifier_notification--material .notifiernotification-button:hover, .notifiernotification--material .notifier_notification-button:focus {
  opacity: 1;
}
.notifier_notification--material .notifier_notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--default {
  background-color: #444;
  color: #fff;
}
.notifier_notification--default .notifier_notification-button-icon {
  fill: #fff;
}

.notifier__notification--error {
  background-color: #91504A;
  color: #fff;
}
.notifier_notification--error .notifier_notification-button-icon {
  fill: #fff;
}

.notifier__notification--info {
  background-color: #5e7ea4;
  color: #fff;
}
.notifier_notification--info .notifier_notification-button-icon {
  fill: #fff;
}

.notifier__notification--success {
  background-color: #009688;
  color: #fff;
}
.notifier_notification--success .notifier_notification-button-icon {
  fill: #fff;
}

.notifier__notification--warning {
  background-color: #AC912D;
  color: #fff;
}
.notifier_notification--warning .notifier_notification-button-icon {
  fill: #fff;
}

.notifier__notification-button {
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 0;
  color: white;
}

.notifier__notification-button svg{
  fill: white;
  height: 15px;
  padding: 0;
  margin-bottom: -4px;
}

