.statistic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.statistic-title {
  display: flex;
  padding: .5em;
  width: 98%;
  font-weight: bold;
  font-size: 9px;
  color: #00000087;
}

.statistic-title-text{
  width:95%;
  float: left;
}

.table-info {
  width:5%;
}

.table-info fa-icon {
  float: right;
  font-size: 10px;
  color: #829dc1;
}

.statistic-title-info {
  width:5%;
}

.statistic-title-info fa-icon {
  float: right;
  font-size: 10px;
  color: #829dc1;
}

.statistic-body {
  width: 100%;
  height: calc(100% - 1.5em);
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.statistic-graph{
  width: 95%;
  height: 95%;
  margin-top: 2px;
  display:flex;
}

.statistic-label{
  width: 95%;
  height: 20%;
  margin: 1em;
  font-size: 8px;
  text-align: center
}

.statistic-text-lists{
  margin-top: 20px;
}

.chart-capsule{
  width: 100%;
  height: 100%
}

