<p>
  <mat-button-toggle-group (valueChange)="selectStatistic($event)" appearance="legacy">
    <mat-button-toggle value="performance" [checked]="true">Performance</mat-button-toggle>
    <mat-button-toggle value="capacity">Capacity</mat-button-toggle>
    <mat-button-toggle value="resources">Resources</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="legacy">
    <mat-label>Select statistic range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input (dateChange)="updateData()" matStartDate formControlName="start" placeholder="Start date">
      <input (dateChange)="updateData()" matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint *ngIf="this.casesInRange !== 0">Cases found: {{ this.casesInRange }}</mat-hint>
    <mat-hint *ngIf="this.casesInRange === 0" style="color: darkred">Cases found: {{ this.casesInRange }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Statistic fineness</mat-label>
    <mat-select [(value)]="fineness" (valueChange)="updateData()">
      <mat-option [value]="'month'">{{ 'month' }}</mat-option>
      <mat-option [value]="'year'">{{ 'year' }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="statisticSelection==='resources'" appearance="legacy">
    <mat-label>Resource aspect</mat-label>
    <mat-select [(value)]="statisticResourceSelection">
      <mat-option [value]="'role'">{{ 'Role' }}</mat-option>
      <mat-option [value]="'capability'">{{ 'Capability' }}</mat-option>
      <mat-option [value]="'position'">{{ 'Position' }}</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<div [hidden]="statisticSelection !== 'performance'">
  <mat-grid-list cols="5" rowHeight="2:1" [gutterSize]="'8px'">
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How long do our cases run on average?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the average runtime of all cases
                     that were started in the corresponding {{fineness === 'month'? 'monthly' : 'annual'}} period.
                     Cancelled and uncompleted cases excluded."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bubble'" [datasets]="specPerformanceComparisonData"
                               [options]="specPerformanceOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How severe are our process outliers?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the minimum, maximum and average runtime for all cases of a corresponding process.
                      Cancelled and uncompleted cases excluded."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="specOutlierData.datasets"
                               [labels]="specOutlierData.labels"
                               [options]="specOutlierOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How successful are our cases?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the overall success and deadline fulfilled ratio for cases
                     that were started in the corresponding {{fineness === 'month'? 'monthly' : 'annual'}} period.
                     A successful case has not been cancelled. A case has met its deadline if its runtime is shorter
                     than the specification time limit of its process. Uncompleted cases excluded."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="overallIndicatorData.datasets"
                               [labels]="overallIndicatorData.labels"
                               [options]="overallIndicatorOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!------                                CAPACITY                                             ------->
<!------                                CAPACITY                                             ------->

<div [hidden]="statisticSelection !== 'capacity'">
  <mat-grid-list cols="5" rowHeight="2:1" [gutterSize]="'8px'">
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How high is our capacity utilization?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the overall capacity utilization for
                                {{fineness === 'month'? 'monthly' : 'annual'}} periods.
                                Each capacity utilization value is calculated from the sum of all work item
                                durations started in the corresponding period. A work item duration is the
                                time elapsed between start and completion. In the case where a work item was
                                completed over a period of several days, 8 hours of resource time was allocated
                                to each day. Cancelled cases and cancelled or automated work items were excluded."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="capacityUtilizationData.datasets"
                               [labels]="capacityUtilizationData.labels"
                               [options]="capacityUtilizationOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2" colspan="2">
      <div class="statistic-container">
        <div class="statistic-title">When did we encounter bottlenecks?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the queue size for each hour in the specified time window. The
                                 queue size is the sum of all offered or allocated, but not started work items
                                 at a given hour. Please note that the maximum time span for this chart is 4 years."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'line'"
                               [datasets]="pastBottlenecksData.datasets"
                               [labels]="pastBottlenecksData.labels"
                               [options]="pastBottlenecksOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">Where do we currently encounter bottlenecks?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the sum of offered or allocated work items of a certain type
                                  waiting to be processed."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="activeBottlenecksData.datasets"
                               [labels]="activeBottlenecksData.labels"
                               [options]="activeBottlenecksOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!------                                RESOURCES                                             ------->
<!------                                RESOURCES                                             ------->

<div [hidden]="statisticSelection !== 'resources'">
  <mat-grid-list cols="5" rowHeight="2:1" [gutterSize]="'8px'">
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How automated are our processes?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the automation ratio for each process. This ratio is calculated
                     by dividing the number of automated tasks of a corresponding process by the number of all its tasks."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="automationRatioData.datasets"
                               [labels]="automationRatioData.labels"
                               [options]="automationRatioOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">Where is further automation effective?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows all tasks for each process and illustrates how much time our
                                 resources spent on average on one of these tasks. This average time is calculated for
                                 each task by dividing the sum of the time spans between the start and completion of all
                                 corresponding work items by the number of work items. Automated tasks and cancelled
                                 work items excluded."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'bar'"
                               [datasets]="automationCandidatesData.datasets"
                               [labels]="automationCandidatesData.labels"
                               [options]="automationCandidatesOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='role'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our role distribution?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each role the sum of our resources currently having this role."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="roleDistributionData.datasets"
                               [labels]="roleDistributionData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='capability'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our capability distribution?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each capability the sum of our resources currently possessing this capability."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="capabilityDistributionData.datasets"
                               [labels]="capabilityDistributionData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='position'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our position distribution?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each position the sum of our resources currently having this position."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="positionDistributionData.datasets"
                               [labels]="positionDistributionData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='role'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our role distribution according to our processes?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each role the sum of tasks requiring it."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="configuredRolesData.datasets"
                               [labels]="configuredRolesData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='capability'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our capability distribution according to our processes?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each capability the sum of tasks requiring it."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="configuredCapabilitiesData.datasets"
                               [labels]="configuredCapabilitiesData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='position'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How is our position distribution according to our processes?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows for each position the sum of tasks requiring it."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="configuredPositionsData.datasets"
                               [labels]="configuredPositionsData.labels"
                               [options]="resourceRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='role'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How did we really utilize roles?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the summed resource time for each role for all work items in all
                     processes. This time can be an indication of which role was needed most for our processes.
                     The resource times of all work items contribute to this time, where the resource that started
                     the work item had the corresponding role. The resource time is calculated from the time that
                     elapsed between the start and completion of a work item. In the case that a work item took longer
                     than two days to complete, each work day contributes 8 hours of resource time."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="roleUtilizationData.datasets"
                               [labels]="roleUtilizationData.labels"
                               [options]="resourceUtilizationRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='capability'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How did we really utilize capabilities?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the summed resource time for each capability for all work items in all
                     processes. This time can be an indication of which capability was needed most for our processes.
                     The resource times of all work items contribute to this time, where the resource that started
                     the work item had the corresponding capability. The resource time is calculated from the time that
                     elapsed between the start and completion of a work item. In the case that a work item took longer
                     than two days to complete, each work day contributes 8 hours of resource time."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="capabilityUtilizationData.datasets"
                               [labels]="capabilityUtilizationData.labels"
                               [options]="resourceUtilizationRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="statisticResourceSelection==='position'" rowspan="2">
      <div class="statistic-container">
        <div class="statistic-title">How did we really utilize positions?
          <span class="statistic-title-info">
            <fa-icon [fixedWidth]="true" [icon]="faCircleInfo"
                     matTooltip="This chart shows the summed resource time for each position for all work items in all
                     processes. This time can be an indication of which position was needed most for our processes.
                     The resource times of all work items contribute to this time, where the resource that started
                     the work item had the corresponding position. The resource time is calculated from the time that
                     elapsed between the start and completion of a work item. In the case that a work item took longer
                     than two days to complete, each work day contributes 8 hours of resource time."></fa-icon>
          </span>
        </div>
        <div class="statistic-body ngx-charts-small-text">
          <div class="statistic-graph">
            <app-chart-capsule class="chart-capsule" [type]="'radar'"
                               [datasets]="positionUtilizationData.datasets"
                               [labels]="positionUtilizationData.labels"
                               [options]="resourceUtilizationRadarOptions"></app-chart-capsule>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
