<!-- @author Robin Steinwarz--->
<div class="dialog" style="height: 60vh; overflow-y: auto;">
  <mat-toolbar class="modal-toolbar" >
    <button mat-button class="back-button" (click)="close()">
      <fa-icon [fixedWidth]="true" icon="arrow-left-long"
               matTooltip="Close the work items modal."></fa-icon>
      <span>Back</span>
    </button>
    <span class="spacer"></span>
    <span>Case Id: {{this.caseid}}</span>
    <fa-icon style="color: #12376a" class="info" [fixedWidth]="true" icon="circle-info"
             matTooltip="This dialog shows the exact processing of this case {{this.caseid}}. Accordingly, all corresponding work items are listed in the order in which they appeared in this process."></fa-icon>
  </mat-toolbar>

  <mat-form-field class="mat-mdc-form-field" >
    <mat-label>Filter</mat-label>
    <input matInput type="text" (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
         (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- Workitem-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by workitem name">
        Workitem
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Decomposition-->
    <ng-container matColumnDef="decompositionOrder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by decomposition order">
        Process log order
      </th>
      <td mat-cell *matCellDef="let element"> {{element.decompositionOrder}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
        Status
      </th>
      <td mat-cell *matCellDef="let element"> {{element.status}}</td>
    </ng-container>

    <!-- QueueTime Column -->
    <ng-container matColumnDef="queueTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by queue time">
        Queue time
      </th>
      <td mat-cell
          *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestampWithDays(element.queueTime)}}</td>
    </ng-container>

    <!-- CompletionTime Column -->
    <ng-container matColumnDef="completionTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by completionTime">
        Completion time
      </th>
      <td mat-cell *matCellDef="let element">{{formatUtils.applyPastTimeFormatForTimestampWithDays(element.completionTime)}}</td>
    </ng-container>

    <!-- Resources Column -->
    <ng-container matColumnDef="participants">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by resource">
        Resource
      </th>
      <td *matCellDef="let element">
        <span *ngIf="!element.automated" >
          {{formatUtils.applyParticipantsArrayFormat(computeResources(element))}}
        </span>
        <span *ngIf="element.automated" >
          Automated
        </span>
      </td>
    </ng-container>

    <!-- Overdue Column -->
    <ng-container matColumnDef="overdue">
      <th mat-header-cell *matHeaderCellDef >
        Overdue
      </th>
      <td mat-cell *matCellDef="let element">{{formatUtils.applyIsOverdueFormat(element.age, getOverdueLimit(element))}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <a [href]="workitemURL" target="_blank">
          <fa-icon [fixedWidth]="true" icon="pencil"
                   matTooltip="Redirect to the yawl dashboard."></fa-icon>
        </a>
      </td>
    </ng-container>

    <!-- Expand -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <fa-icon matTooltip="Expand details row." *ngIf="expandedElement !== element" [fixedWidth]="true" icon="chevron-down"></fa-icon>
          <fa-icon matTooltip="Close details row." *ngIf="expandedElement === element" [fixedWidth]="true" icon="chevron-up"></fa-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-grid-list rowHeight="70px" cols="6">
            <mat-grid-tile>
              <mat-form-field *ngIf="element.status === 'Offered' || element.status === 'Allocated'" class="grid-form" appearance="fill" disabled>
                <mat-label>Max queue time</mat-label>
                <input matInput disabled
                       value="{{formatUtils.applyPastTimeFormatForTimestampWithDays(taskstatisticMap.get(element.taskid)!.maxQueueAge)}}">
              </mat-form-field>
              <mat-form-field *ngIf="!(element.status === 'Offered' || element.status === 'Allocated')" class="grid-form" appearance="fill" disabled>
                <mat-label>Max task time</mat-label>
                <input matInput disabled
                       value="{{formatUtils.applyPastTimeFormatForTimestampWithDays(taskstatisticMap.get(element.taskid)!.maxTaskAge)}}">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Avg. queue time</mat-label>
                <input matInput disabled
                       value="{{formatUtils.applyPastTimeFormatForTimestampWithDays(taskstatisticMap.get(element.taskid)!.avgQueueTime)}}">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Avg. completion time</mat-label>
                <input matInput disabled
                       value="{{formatUtils.applyPastTimeFormatForTimestampWithDays(taskstatisticMap.get(element.taskid)!.avgCompletionTime)}}">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Avg. time to reach</mat-label>
                <input matInput disabled
                       value="{{formatUtils.applyPastTimeFormatForTimestampWithDays(taskstatisticMap.get(element.taskid)!.avgTimeToReach)}}">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2" colspan="2">
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Work item was offered or allocated to</mat-label>
                <input *ngIf="element.automated" matInput disabled value="Automated">
                <textarea rows="5" *ngIf="!element.automated" class="full-form-field"  disabled="true" matInput>{{formatUtils.applyParticipantsArrayFormat(computeResourcesAsked(element))}}</textarea>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Created</mat-label>
                <input matInput disabled value="{{formatUtils.applyDatetimeFormat(element.created)}}">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <mat-form-field class="grid-form" appearance="fill" disabled>
                <mat-label>Completed</mat-label>
                <input matInput disabled value="{{formatUtils.applyDatetimeFormat(element.endTimestamp)}}">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumnsWithExpand.length" style="text-align: center; color: #5e5e5e">
        Empty table
      </td>
    </tr>
  </table>
</div>

