
<default-page>
	<div class="page-header">
		<h1>Cases</h1>
		<ul class="page-header-actions">
		</ul>
	</div>

	<div class="row">
		<mat-card>
            <label>Filter by specification:</label>
            <mat-form-field class="yd-input-full-width">
                <mat-select [ngModel]="selectedSpecification" (ngModelChange)="onFilterChange($event)" name="selectedSpecification">
                    <mat-option value="">No specification</mat-option>
                    <mat-option *ngFor="let item of specifications" [value]="item">
                        {{item.uri}} {{item.version}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
		</mat-card>
	</div>

	<div class="row">
		<mat-card class="without-padding">
            <div *ngFor="let item of filteredCases" class="role-list-element">
                <div class="role-list-name">{{item.id}}</div>
                <div class="role-list-description">{{item.specification.uri}} {{item.specification.version}}</div>
                <ul class="role-list-actions">
                    <li>
                        <button (click)="intendCancel(item)" title="Cancel case">
                            <span class="fa fa-times"></span>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="notification-list-empty" *ngIf="filteredCases.length == 0">
                There are no cases!
            </div>
        </mat-card>
	</div>
</default-page>
