
<default-page>

	<div class="container">
		<div class="card">
			<div class="card-header gray">
				<h2><span class="fa fa-key"></span> Change password</h2>
			</div>
			<div class="card-content" *ngIf="user">
				<form  (ngSubmit)="save()" #form="ngForm">

					<div class="row">
						<label>User</label>
						<div class="flow-text">{{user.username}}</div>
					</div>


					<div class="row">
						<label for="password1">Password</label>
						<input id="password1"
							   name="password1"
							   class="nice-input-field"
							   type="password"
							   minlength="3"
							   maxlength="50"
							   [(ngModel)]="password1"
							   required/>
					</div>

					<div class="row">
						<label for="password2">Repeat Password</label>
						<input id="password2"
							   name="password2"
							   class="nice-input-field"
							   type="password"
							   minlength="3"
							   maxlength="50"
							   [(ngModel)]="password2"
							   required/>
					</div>

					<div class="form-actions noborder">
						<button mat-raised-button color="primary" type="button" (click)="cancel()">
							<span class="fa fa-arrow-left"></span> Cancel
						</button>
						<button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">
							Change password <span class="fa fa-send"></span>
						</button>
					</div>

				</form>

			</div>
		</div>
	</div>

</default-page>
