<div class="row">
	<position-list [positions]="positions" [(selectedItem)]="selectedPosition" [selectable]="true" [showDetailsLink]="true"></position-list>
</div>

<div class="row">
	<button mat-raised-button color="primary" type="button" (click)="removeSelected()" [disabled]="!selectedPosition">
		<span class="fa fa-minus"></span> Remove selected
	</button>
	<button mat-raised-button color="primary" type="button" (click)="intendAddPosition()">
		<span class="fa fa-plus"></span> Add position
	</button>
</div>
