
<default-page>
	<div class="page-header">
		<h1>Manage Capabilities</h1>
		<ul class="page-header-actions">
		</ul>
	</div>

	<div class="row">
		<button mat-raised-button color="accent" type="button" (click)="openFormForNew()">
			Create new capability
		</button>
	</div>

	<div class="row search-box-wrapper">
        <input #searchBox
                type="text"
                class="search-box"
                [(ngModel)]="searchQuery"
                placeholder="Search">
	</div>

	<div class="row">
		<div class="card">
			<div class="card-body">
				<capability-list [capabilities]="capabilities" [searchFilter]="searchQuery" [selectable]="true" (selectedItemChange)="gotoDetailsPage($event)"></capability-list>
			</div>
		</div>
	</div>
</default-page>
