<div class="modal-background" (click)="closeModal()"></div>
<div class="dialog-modal resource-select-dialog card z-depth-3">
	<div class="card-header gray">
		<h2>{{title}}</h2>
	</div>
	<div class="card-content">
		<div class="row">
            <mat-form-field class="filter-input">
                <input matInput #searchBox
                        type="text"
                        [(ngModel)]="searchQuery"
                        (keyup)="filter()"
                        placeholder="Search">
            </mat-form-field>
		</div>
		<div class="row">
			<position-list [positions]="selectablePositions" (selectedItemChange)="select($event)"></position-list>
		</div>
	</div>

	<div class="card-footer">
		<div class="btn-group">
			<button mat-raised-button color="primary" (click)="closeModal()">
				<span>Cancel</span>
			</button>
			<button mat-raised-button color="primary" (click)="select(null)" *ngIf="showNoSelectionButton">
				<span>No position</span>
			</button>
		</div>
	</div>
</div>
