
<div class="section">
	<h4>Display</h4>

	<div class="row">
        <mat-form-field>
            <mat-select class="yd-input-full-width" placeholder="Height of dashlet" [(ngModel)]="settings.dashletHeight" name="dashletHeight" required>
                <mat-option value="128">Very small (128 pixels)</mat-option>
                <mat-option value="256">Smaller (256 pixels)</mat-option>
                <mat-option value="384">Small (384 pixels)</mat-option>
                <mat-option value="512">Normal (512 pixels)</mat-option>
                <mat-option value="1024">Tall (1024 pixels)</mat-option>
                <mat-option value="2048">Taller (2048 pixels)</mat-option>
                <mat-option value="4096">Very tall (4096 pixels)</mat-option>
            </mat-select>
        </mat-form-field>
	</div>

</div>
